In [1]:
import numpy as np
import pandas as pd
import torch
import os
import time
from langchain.document_loaders import DataFrameLoader, TextLoader
from langchain.text_splitter import RecursiveCharacterTextSplitter
from langchain.vectorstores import Chroma
from langchain.embeddings import SentenceTransformerEmbeddings
from langchain.chains import RetrievalQA
from langchain.embeddings import GooglePalmEmbeddings
import google.generativeai as genai
import os
from langchain.llms import GooglePalm
import pytz
from datetime import datetime
import google.generativeai as palm

/Users/thanhhai/anaconda3/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [28]:
df = pd.read_csv("/Users/thanhhai/Downloads/US News Rankings.csv")
df = df.drop('Unnamed: 0', axis=1)
df = df.drop_duplicates(subset=['Type of Rankings','University'], keep='last')
df

,Data source,Agent,Type of Rankings,Ranking,University,Country,Score,Link,Location,Tuition & Fee($),Undergraduate enrollment (fall 2022),Acceptance-Rate
0,www.usnews.com,KietChau,Audiology,1,Vanderbilt University,United States,4.6,https://www.usnews.com/best-graduate-schools/t...,"Nashville, TN",NaN,NaN,NaN
1,www.usnews.com,KietChau,Audiology,2,University of Iowa,United States,4.3,https://www.usnews.com/best-graduate-schools/t...,"Iowa City, IA",NaN,NaN,NaN
2,www.usnews.com,KietChau,Audiology,2,University of Texas--Dallas,United States,4.3,https://www.usnews.com/best-graduate-schools/t...,"Dallas, TX",NaN,NaN,NaN
3,www.usnews.com,KietChau,Audiology,4,Northwestern University,United States,4.2,https://www.usnews.com/best-graduate-schools/t...,"Evanston, IL",NaN,NaN,NaN
4,www.usnews.com,KietChau,Audiology,5,University of North Carolina--Chapel Hill,United States,4.1,https://www.usnews.com/best-graduate-schools/t...,"Chapel Hill, NC",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10004,www.usnews.com/best-colleges/york-college-cuny...,QuyQP,Regional Universities North,130,York College--CUNY,USA,NaN,NaN,"94-20 Guy R. Brewer Boulevard, Jamaica, NY, 11451",19028.0,"6,199",59%
10005,www.usnews.com/best-colleges/york-college-of-p...,QuyQP,Regional Universities North,80,York College of Pennsylvania,USA,NaN,NaN,"441 Country Club Road, York, PA, 17403",24606.0,"3,335",96%
10006,www.usnews.com/best-colleges/york-university-2567,QuyQP,Regional Colleges Midwest,45,York University,USA,NaN,NaN,"1125 E. Eighth Street, York, NE, 68467",20900.0,435,62%
10007,www.usnews.com/best-colleges/young-harris-coll...,QuyQP,National Liberal Arts Colleges,185-204,Young Harris College,USA,NaN,NaN,"1 College Street, Young Harris, GA, 30582",30905.0,"1,389",75%
10008,www.usnews.com/best-colleges/youngstown-state-...,QuyQP,Regional Universities Midwest,101,Youngstown State University,USA,NaN,NaN,"1 University Plaza, Youngstown, OH, 44555",10838.0,"9,445",78%

In [29]:
df.dtypes

Data source                              object
Agent                                    object
Type of Rankings                         object
Ranking                                  object
University                               object
Country                                  object
Score                                   float64
Link                                     object
Location                                 object
Tuition & Fee($)                        float64
Undergraduate enrollment (fall 2022)     object
Acceptance-Rate                          object
dtype: object

In [30]:
df.shape

(9309, 12)

In [31]:
df.isnull().sum()

Data source                                0
Agent                                      0
Type of Rankings                           0
Ranking                                  346
University                                 3
Country                                    0
Score                                   4689
Link                                    1854
Location                                 343
Tuition & Fee($)                        4676
Undergraduate enrollment (fall 2022)    4801
Acceptance-Rate                         7762
dtype: int64

In [32]:
df = df.dropna(subset=['University','Ranking'])

In [33]:
df = df[['University','Ranking','Type of Rankings','Link','Location','Country','Score','Tuition & Fee($)','Undergraduate enrollment (fall 2022)','Acceptance-Rate']]

In [34]:
list1 =[ 'National Universities\xa0(tie)',
       'National Liberal Arts Colleges\xa0(tie)',
       'Regional Universities North\xa0(tie)',
       'Regional Colleges South\xa0(tie)',
       'Regional Colleges Midwest\xa0(tie)',
       'Regional Universities West\xa0(tie)',
       'Regional Universities Midwest\xa0(tie)',
       'Regional Universities South\xa0(tie)',
       'Regional Colleges North\xa0(tie)',
       'Regional Colleges West\xa0(tie)',
       'National Liberal Arts Colleges']
df = df[df['Type of Rankings'].isin(list1) == False]
df.head()

,University,Ranking,Type of Rankings,Link,Location,Country,Score,Tuition & Fee($),Undergraduate enrollment (fall 2022),Acceptance-Rate
0,Vanderbilt University,1,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Nashville, TN",United States,4.6,NaN,NaN,NaN
1,University of Iowa,2,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Iowa City, IA",United States,4.3,NaN,NaN,NaN
2,University of Texas--Dallas,2,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Dallas, TX",United States,4.3,NaN,NaN,NaN
3,Northwestern University,4,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Evanston, IL",United States,4.2,NaN,NaN,NaN
4,University of North Carolina--Chapel Hill,5,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Chapel Hill, NC",United States,4.1,NaN,NaN,NaN

In [35]:
df.reset_index(inplace = True, drop = True)

In [36]:
df['Type of Rankings'].unique()

array(['Audiology', 'Healthcare Management', 'Nursing-Midwifery',
       'Occupational Therapy', 'Clinical Psychology', 'Physical Therapy',
       'Rehabilitation Counseling', 'Physician Assistant', 'Social Work',
       'Nurse Anesthesia', 'Public Health', 'Pharmacy', 'Pathology',
       'Veterinarian', 'Earth Science', 'Biological Sciences',
       'Statistics', 'Physics', 'Mathematics', 'Computer Science',
       'Chemistry', 'Biostatistics', 'Political Science', 'Psychology',
       'Economics', 'Criminology', 'Sociology', 'English', 'History',
       'Regional Colleges South', 'Regional Universities West',
       'National Universities', 'Business Schools',
       'Engineering & Technology Schools',
       'Best National University Rankings',
       'National Liberal Arts Colleges Rankings',
       '2024 Best Regional Universities in the North ',
       '2024 Best Regional Universities in the South ',
       '2024 Best Regional Universities in the Midwest ',
       '2024 Best Regional Universities in the West ',
       '2024 Best Regional Colleges in the North ',
       '2024 Best Regional Colleges in the South ',
       '2024 Best Regional Colleges in the Midwest ',
       '2024 Best Regional Colleges in the West ',
       'Regional Colleges Midwest', 'Regional Universities South',
       'Regional Colleges West', 'Regional Universities North',
       'Regional Colleges North', 'Regional Universities Midwest',
       'Top Performers on Social Mobility', 'Top Public Schools',
       'Best Value Schools', 'Best Undergraduate Teach',
       'Historically Black Colleges and Universities',
       'Most Innovative Schools'], dtype=object)

In [37]:
df.shape

(7598, 10)

In [38]:
lst = []
def content(df):
    for i in range(0,len(df)):
        text = df['University'].at[i] + ' ranked ' + df['Ranking'].at[i] +'th in ' + str(df['Type of Rankings'].at[i])+' Ranking, details at ' + str(df['Link'].at[i]) 
        if (pd.isna(df['Location'].at[i]) == False):
            text = text + ' located in '+ str(df['Location'].at[i]) +", "+ str(df['Country'].at[i])
        if (pd.isna(df['Score'].at[i]) == False):
            text = text + ' with score of ' + str(df['Score'].at[i])
        if (pd.isna(df['Tuition & Fee($)'].at[i]) == False):
            text = text + ', tuition & fee of $' + str(df['Tuition & Fee($)'].at[i])
        if (pd.isna(df['Undergraduate enrollment (fall 2022)'].at[i]) == False):
            text = text + ', the number of students enrolled in 2022 ' + df['Undergraduate enrollment (fall 2022)'].at[i] + " students"
        if (pd.isna(df['Acceptance-Rate'].at[i]) == False):
            text = text + ', acceptance rate ' + df['Acceptance-Rate'].at[i] + " %"
        lst.append(text)

In [39]:
content(df) == lst
df['content'] = lst
df.head()

,University,Ranking,Type of Rankings,Link,Location,Country,Score,Tuition & Fee($),Undergraduate enrollment (fall 2022),Acceptance-Rate,content
0,Vanderbilt University,1,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Nashville, TN",United States,4.6,NaN,NaN,NaN,Vanderbilt University ranked 1th in Audiology ...
1,University of Iowa,2,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Iowa City, IA",United States,4.3,NaN,NaN,NaN,University of Iowa ranked 2th in Audiology Ran...
2,University of Texas--Dallas,2,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Dallas, TX",United States,4.3,NaN,NaN,NaN,University of Texas--Dallas ranked 2th in Audi...
3,Northwestern University,4,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Evanston, IL",United States,4.2,NaN,NaN,NaN,Northwestern University ranked 4th in Audiolog...
4,University of North Carolina--Chapel Hill,5,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Chapel Hill, NC",United States,4.1,NaN,NaN,NaN,University of North Carolina--Chapel Hill rank...

In [40]:
df['IDs'] = range(1, len(df) + 1)
df['IDs'] = df['IDs'].astype('str')
df.head()

,University,Ranking,Type of Rankings,Link,Location,Country,Score,Tuition & Fee($),Undergraduate enrollment (fall 2022),Acceptance-Rate,content,IDs
0,Vanderbilt University,1,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Nashville, TN",United States,4.6,NaN,NaN,NaN,Vanderbilt University ranked 1th in Audiology ...,1
1,University of Iowa,2,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Iowa City, IA",United States,4.3,NaN,NaN,NaN,University of Iowa ranked 2th in Audiology Ran...,2
2,University of Texas--Dallas,2,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Dallas, TX",United States,4.3,NaN,NaN,NaN,University of Texas--Dallas ranked 2th in Audi...,3
3,Northwestern University,4,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Evanston, IL",United States,4.2,NaN,NaN,NaN,Northwestern University ranked 4th in Audiolog...,4
4,University of North Carolina--Chapel Hill,5,Audiology,https://www.usnews.com/best-graduate-schools/t...,"Chapel Hill, NC",United States,4.1,NaN,NaN,NaN,University of North Carolina--Chapel Hill rank...,5

In [41]:
text_splitter = RecursiveCharacterTextSplitter(
    chunk_size = 1000,
    chunk_overlap  = 200,
    length_function = len,
)

In [42]:
google_api_key='AIzaSyC4nLSSMwjIjDEkw8LhaWujiIi4pnSGW9k'
palm.configure(api_key=google_api_key)

embeddings = GooglePalmEmbeddings(google_api_key=google_api_key)

In [43]:
from datetime import datetime
import pytz

for i in range(0,(len(df)//1000) + 1):
    if (i + 1) * 1000 < len(df) - 1:
        loader = DataFrameLoader(df[i * 1000:(i + 1) * 1000], page_content_column="content")
        ids = [df['IDs'].at[i] for i in range(i * 1000, (i + 1) * 1000)]
    else:
        loader = DataFrameLoader(df[i * 1000:len(df) - 1], page_content_column="content")
        ids = [df['IDs'].at[i] for i in range(i * 1000, len(df))]

    try:
        texts = text_splitter.split_documents(loader.load())
        t=time.time()
        chroma_index = Chroma.from_documents(texts, embeddings, ids=ids, persist_directory="./chroma_index_5", collection_metadata={"hnsw:space": "cosine"})
        print(i)
        print('totaltime: {}'.format(time.time()-t))
    except Exception as error:
        tz_VN = pytz.timezone('Asia/Ho_Chi_Minh')
        datetime_VN = datetime.now(tz_VN)
        print(i)
        print("error time in VN time:", datetime_VN.strftime("%H:%M:%S"))
        print("An exception occurred:", type(error).__name__, error)

0
totaltime: 492.6029989719391
1
totaltime: 486.99613523483276
2
totaltime: 490.18966007232666
3
totaltime: 486.66254115104675
4
totaltime: 480.8693518638611
5
totaltime: 465.3307502269745
6
totaltime: 466.28679490089417
7
totaltime: 290.73671078681946

In [44]:
db = Chroma(persist_directory="./chroma_index_5", embedding_function=embeddings)
db._collection.count()

7597